* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: black;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 129px 198px;
}

h1 {
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 40px;
  line-height: 77px;
}

input {
  border: 2px solid white;
  height: 50px;
  width: 290px;
  padding: 5px 20px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 29px;
}

.btn {
  margin-bottom: 30px;
  margin-right: 1rem;
  background-color: white;
  color: black;
  height: 61px;
  width: 61px;
  font-size: 24px;
  font-weight: 300;
  cursor: pointer;
}

#result, #error, #success {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 24px;
  display: none;
}

#error {
  color: #E33737;
}

#success {
  color: #47F558;
}
